.container {
    z-index: 1;
    min-height: 70px;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vw 10vw 0vw 10vw;
}

.linkContainer {
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    transition: all 0.2s;
}

.link:hover {
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.linklogo {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}

.logo:hover {
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.logo {
    padding: 10px;
    align-self: center;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    transition: all 0.2s;
}

@media only screen and (max-width: 600px) {
    .link {
        font-size: 12px;
    }

    .logo {
        font-size: 4vw;
    }
}
