.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40vw;
}

.work {
    margin-top: 20px;
    height: 38vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-weight: 900;
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.text {
    margin-top: 0;
    font-weight: 300;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1200px) {
    .work {
        width: 80vw;
        height: 50vw;
    }

    .textContainer {
        width: 40vw;
    }

    .container {
        width: 80vw;
    }

    .title {
        font-weight: 900;
        font-size: 10vw;
        font-family: 'Roboto', sans-serif;
        margin: 0px 0px 10px 0px;
    }
    
    .text {
        margin-top: 0;
        font-weight: 100;
        font-size: 3vw;
        font-family: 'Roboto', sans-serif;
    }

    .textContainer {
        width: 80vw;
    }
}
